.ScaleUp {
  animation: ScaleUp 500ms forwards;
}
.ScaleDown {
  animation: ScaleDown 500ms forwards;
}

@keyframes ScaleDown {
  0% {
    scale: 0.7;
  }

  70% {
    scale: 1.05;
  }

  100% {
    scale: 1;
  }
}

@keyframes ScaleUp {
  0% {
    scale: 1;
  }
  100% {
    scale: 0.7;
  }
}
