.embla {
  position: relative;
  max-width: 100%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 250px;
  padding-right: 20px;

  @media (max-width: 600px) {
    flex: 0 0 180px;
  }
}

.embla__slide__img {
  display: block;
  height: 150px;
  width: 200px;
  /* 
  width: 100%;
  height: auto;
  min-height: 130px; */
  border-radius: 10px;

  @media (max-width: 600px) {
    min-height: 100px;
  }
}
